<div class="page-container">
  <div class="background-box">
    <div class="button-container">
      <button mat-fab class="custom-button" color="warn" [routerLink]="['/prompts']">
        <mat-icon matListItemIcon>menu</mat-icon>
        Settings
      </button>
      <button mat-fab class="custom-button" color="primary" [routerLink]="['/game/temporary']">
        <mat-icon matListItemIcon>group</mat-icon>
        Create Game
      </button>
    </div>
  </div>
</div>



<!--
        <mat-grid-tile>
          <mat-card>
            <mat-card-content>
              players in lobby:
            </mat-card-content>
          </mat-card>

        </mat-grid-tile>
      </mat-grid-list>
-->
          <!-- main website for host to look at to start a game -->




