@if (game()) {
  <p>{{ game().joincode }}</p>
  <p>{{ game()._id }} </p>
  @if (game().players) {
    <mat-list data-test="player-list">
    @for (player of game().players; track player; let i = $index) {
      <mat-list-item data-test="player">{{ i }} {{ player }}</mat-list-item>
    }
    </mat-list>
  }
}

<div class="flex-container">
  <div class="flex-row">
    <div class="flex-1">
      <div class="players-list">
        <h3>Players</h3>
        <ul>
          <li *ngFor="let player of players">{{ player.name }}</li>
        </ul>
      </div>
    </div>
    <div class="flex-1">
      <div class="question-prompt">
        <h3>Question Prompt</h3>
        <p>  {{ prompts }}
        </p>
      </div>
    </div>
  </div>
  <div class="flex-row">
    <div class="flex-1">
      <div class="score-system">
        <h3>Scores</h3>
        <ul>
          <li *ngFor="let player of players">{{ player.name }}: {{ player.score }}</li>
        </ul>
      </div>
    </div>
    <div class="flex-1">
      <div class="answer-box">
        <mat-form-field appearance="fill">
          <mat-label>Response</mat-label>
          <input matInput placeholder="Enter your response">

        </mat-form-field>
        <h3>Answer</h3>
      </div>
    </div>
  </div>
</div>



