<div class="page-container">
  <div class="background-box">
    <h1 class="title">HUMANITY AGAINST APPLES</h1>
    <div class="button-container">
      <button mat-fab extended color="warn" class="custom-button" [routerLink]="['/host']" routerLinkActive="HostJoinButton">
        <mat-icon matListItemIcon>menu</mat-icon>
        Host a game
      </button>
      <button mat-fab extended color="primary" class="custom-button" [routerLink]="['/player']" routerLinkActive="PlayerJoinButton">
        <mat-icon matListItemIcon>videogame_asset</mat-icon>
        Join a game
      </button>
    </div>
  </div>
</div>
